#middle {
  background: #f2f2f2;
}
#move_center {
	text-align: center;
}
.move_to_index:hover {
	cursor: pointer;
}
.accordion h2{
  margin-bottom: 25px;
}

.panel-default{
  border-color: transparent;
}
.accordion-toggle i {
	height: 37px;
}
.accordion-toggle {
	text-align: left;
}
.panel-default>.panel-heading,
.panel{
  background-color: #e6e6e6; 
  border:0 none;
  box-shadow:none;
}

.panel-default>.panel-heading+.panel-collapse .panel-body{
  background: #fff;
  color: #858586;
}

.panel-body{
  padding: 20px 20px 10px;
}

.panel-group .panel+.panel{
  margin-top: 0;
  border-top: 1px solid #d9d9d9;
}

.panel-group .panel{
  border-radius: 0;
}

.panel-heading{
  border-radius: 0;
}

.panel-title>a{
  color: #4e4e4e;
}

.accordion-inner img{
  border-radius: 4px;
}

.accordion-inner h4{
  margin-top: 0;
}

.panel-heading.active{
  background: #1f1f20;
}

.panel-heading.active .panel-title>a{
  color:#fff;
}

a.accordion-toggle  i{
  width: 45px;
  line-height: 44px;
  font-size: 20px;
  margin-top: -10px;
  text-align: center;
  margin-right: -15px;
  background: #c9c9c9;
}

.panel-heading.active a.accordion-toggle i{
  background: #72c05b;
  color: #fff;
}

.panel-heading.active a.accordion-toggle.collapsed i{
  background: #72c05b;
  color: #fff;
}
.careers-list {
	padding-left: 25px;
}