
#howItWorks{
background: orange url(../images/bg1.jpg) repeat-x bottom;

}
.text-circle{ font-family:Arial, Helvetica, sans-serif; font-weight:bold; background-color:#1babcf; border-radius:50px; color:#fff; display:inline-block; font-size:44px; margin:0px 0px 15px 0px; text-align:center; text-shadow:0 0 5px rgba(0, 0, 0, 0.19); width:60px;}
.hiw1{ background-image:none;}
.hiw2{ background-image:none;}
.hiw3{ background-image:none;}



