
.howItWorks{
	background: url(../images/bg1.jpg) bottom;
	padding: 50px 0;
	margin-top: 50px;
}

.text-circle{ 
	font-family:Arial, Helvetica, sans-serif; 
	font-weight:bold; 
	background-color:#1babcf; 
	border-radius:50px; 
	color:#fff; 
	display:inline-block; 
	font-size:44px; 
	margin:0px 0px 15px 0px; 
	text-align:center; 
	text-shadow:0 0 5px rgba(0, 0, 0, 0.19); 
	width:60px;
}



